*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  /*background-color: #f0f0f0;*/
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
a {
  color: #34495e;
  text-decoration: none;
}
body {
  /*text-shadow: 1px 1px 1px #999999;*/
  color: #676767;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

h1, h2, h3, h4 {
  font-weight: 200;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
  cursor: pointer;
  transition : all 100ms linear;

}

a:hover .btn {
  border-color: #3498db;
  color: #3498db;

}
.btn--block {
  display: block;
  width: 100%;
}
.cards {
  color: #999999;
  text-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.card:hover .card__image {
  -webkit-filter: contrast(100%);
          filter: contrast(100%);
}
.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  -webkit-filter: contrast(70%);
          filter: contrast(70%);
  overflow: hidden;
  position: relative;
  -webkit-transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}
.card__image--flowers {
  background-image: url(https://unsplash.it/800/600?image=82);
}
.card__image--river {
  background-image: url(https://unsplash.it/800/600?image=11);
}
.card__image--record {
  background-image: url(https://unsplash.it/800/600?image=39);
}
.card__image--fence {
  background-image: url(https://unsplash.it/800/600?image=59);
}
.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
.hero {
  text-align: center;
}

.suggestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
    align-items: center;
    justify-content: center;
}

.suggestion form {
  max-width: 40rem;
  color: #999999;
  text-shadow: none;
  border: 1px solid #ecf0f1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.suggestion label {
  font-size: 0.75rem;
  color: #999;
}

.suggestion input {
  margin-top: 1rem;
  height: 2rem;
  border: 2px #e2e2e2 solid;
}

.suggestion input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #aaa;
  font-size: 0.8rem;
  padding: 0.2rem;
}
.suggestion input::-moz-placeholder { /* Firefox 19+ */
  color: #aaa;
  font-size: 0.8rem;
  padding: 0.2rem;
}
.suggestion input:-ms-input-placeholder { /* IE 10+ */
  color: #aaa;
  font-size: 0.8rem;
  padding: 0.2rem;
}
.suggestion input:-moz-placeholder { /* Firefox 18- */
  color: #aaa;
  font-size: 0.8rem;
  padding: 0.2rem;
}

.suggestion .btn {
  margin: 1rem auto;
  width: 20rem;
  max-width: 90%;

}
.suggestion h3 {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

footer {
  color: #999;
  text-align: center;
  text-shadow: none;
}